.nickel-button {
    background-color: $nickel;
    border: none;
    border-radius: 30px;
    color: $white;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: $small;
    text-decoration: none;
    display: inline-block;
    font-size: $medium;
    font-weight: 300;
    margin: 2em 0;


    &:hover {
        background-color: $platinum;
    }

    &:focus {
        border-block-end-color: $platinum;
    }
  
}

