.roboto {
    font-family: $roboto;
    font-size: $medium;
    font-weight: 400;
    color: $nickel;
}

.main-section__title {
    font-family: $playfair;
    font-weight: 900;
    font-style: italic;
    font-size: $xx-large;
    color: $white;
    margin: auto;
}