.author {
    padding: 3rem 0;

    .author__info {

        .author__info__img {
            display: inline-block;
            border-radius: 50%;
            width: 120px;
            margin: auto;
        }
    
        .author__info__text {
            display: inline-block;
        }
    }
}