.author {
    padding: 3em 1em;
    border-style: solid;
    border-top: 2px solid $platinum;

   

    &__img {
        display: inline-block;
        border-radius: 50%;
        max-width: 150px; 
        margin: auto 0;
        
    }

    &__info {
        display: inline-block;
        margin: 0 auto;
        padding: 2em 3em;
        line-height: 1.7;
        

        &__name {
            font-family: $playfair;
            font-style: italic;
            font-size: $x-large;
            font-weight: 900;
        }
    
        &__rrss {
            color: $spanish-pink;
            font-weight: 300;

            &--hover:hover {
                color: $eerie-black;
                }

            &--active:active {
                color: $platinum;
                }
        }
    }
        
    &__bio {
        display: inline;
        padding: 0;
        margin: auto;
    }

}


@media (max-width: 767px) {
    
    .author {
        text-align: center;
          
    }
  
  }