.blog-entry {
    background-color: $white;
    padding: 2em 0;
    text-align: justify;

    .blog-entry__date {
        font-family: $playfair;
        font-weight: 400;
    }
}

@media (max-width: 767.98px) {
   
    .blog-entry__buttons {
        display: table;
        margin: 0 auto;

       .nickel-button {
           margin-right: 0.5em;
       } 
    }  
}


