.blog-entry {
    background-color: $white;
    text-align: justify;
    max-width: 100vw;
    padding: 2rem 0;

    &__date {
        font-family: $playfair;
        font-weight: 400;
    }

    @media (max-width: 768px) {
        &--center-buttons {
            display: flex; 
            justify-content: center;
          }
        }
}


