.intro-section {
    text-align: center;
    background-image: url('../img/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    height: 100vh;
    display: grid;

    .intro-section__title {
        font-weight: 900;
        font-style: italic;
        color: $white;
        margin: auto;
        text-align: center;
        line-height: 1.3;
    }

}

@media (max-width: 768px) {
    .intro-section__title {
      width: 80%;
      font-size: 50px;
    }
  }
  @media (min-width: 769px) {
    .intro-section__title {
      width: 60%;
    }
  }