.nav {
    background-color: $eerie-black; 

    .nav__logo {
        max-width: 5rem;
    }
} 

.navbar-dark .navbar-nav .nav-link {
    color: $white;
    font-weight: 300;
}

.fa.fa-navicon {
    color: $white;
  }


