.navigation {
    background-color: $eerie-black;
    width: 100vw; 
    
    i {
        color: $white;
    }

    .nav__logo {
        max-width: 5rem;
    }
} 

.navbar-dark .navbar-nav .nav-link {
    font-weight: 300;

    &:not(.disabled) {
        &:hover, &:focus {
          color: $ruddy-pink; 
        }

        &:active {
            color: $white;
        }
    }
    
}





